{ erl_opts, [
    {src_dirs, ["src"]},
    warnings_as_errors,
    debug_info
]}.

{ cover_enabled, true}.

{ port_specs,[
    {"priv/lua_enode", ["c_src/lua_enode.c"]}
]}.

{ port_env,[
    {"LUA", "/Path_to_Lua_installation"},
    {"CFLAGS", "$CFLAGS  -D_REENTRANT=PTHREADS -I$LUA/include"},
    {"LDFLAGS", "$LDFLAGS -L$LUA/lib -llua -lm -ldl"},
    {"linux", "LDFLAGS", "$LDFLAGS -lpthread"}
]}.
