{erl_opts, [
    {src_dirs, ["src"]},
    warnings_as_errors,
    debug_info
]}.

{cover_enabled, true}.

{relx,
    [
        {
            release, {erlang_lua, "0.1.0"},
            [erlang_lua]
        },
        {overlay, [
            {copy, "priv", "priv"}
        ]}
    ]}.

{plugins,
    [
        pc,
        {ehcu, {git, "https://github.com/shuieryin/ehcu.git", {branch, "master"}}}
    ]}.

{provider_hooks,
    [
        {pre,
            [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]
        }
    ]
}.

{port_specs, [
    {"priv/lua_enode", ["c_src/lua_enode.c"]}
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS  -D_REENTRANT=PTHREADS -I$LUA"},
    {"LDFLAGS", "$LDFLAGS -L$LUA -llua -lm -ldl"},
    {"linux", "LDFLAGS", "$LDFLAGS -lpthread"}
]}.